<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztd.kernel.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ztd.kernel.model.User">
		<id column="user_id" property="userId" />
		<result column="account" property="account" />
		<result column="account_type_code" property="accountTypeCode" />
		<result column="name" property="name" />
		<result column="phone" property="phone" />
		<result column="password" property="password" />
		<result column="salt" property="salt" />
	</resultMap>

	<select id="getUserByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from sys_user WHERE account = #{account}
	</select>

	<select id="getUserRolesByAccount" parameterType="java.lang.String" resultType="string">
		select sr.role_name from sys_role sr
		LEFT JOIN sys_user_role sur on sr.role_id = sur.role_id
		LEFT JOIN sys_user su on su.user_id = sur.user_id
		WHERE su.account=#{account}
	</select>
	<select id="getUserPermissionsByAccount" parameterType="java.lang.String"  resultType="string">
		SELECT sr.resource_permission from sys_resource sr
		LEFT JOIN sys_role_resource srr on sr.resource_id  = srr.resource_id
		LEFT JOIN sys_user_role sur on sur.role_id = srr.role_id
		LEFT JOIN sys_user su on su.user_id = sur.user_id
		WHERE su.account=#{account}
	</select>

</mapper>
